
.productImage {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.centerImg{
    text-align: center;
}


.cardBody {
    text-align: left;
}


.priceCart {
    display: flex;
    justify-content: space-between;
}