.title {
    color: green;
    text-align: center;
}


.homeButton, .shopButton {
    padding: 5px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
}




.cart {
    padding: 5px;
    height: 30px;
    width: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button:hover{
    color: aqua;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: black;
}