* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  background-color: #F2F8FC;
  padding-bottom: 5%;
}
.link {
  text-decoration: none;
}

.link:visited{
  color: whitesmoke;
}

.link:link {
  color: whitesmoke;
}

.product-img {
  height: 50%;
  width: auto;
}

.img-holder {
  display: flex;
  justify-content: center;
}


.product-counter {
  display: flex;
  gap: 10px;
}


#qty {
  text-align: center;
  border-radius: 10px;
}